<div class="anim-toaster-container">
    <div class="anim-toaster anim-toaster-info ui-anim-fade" ng-repeat="msg in service.infoQueue track by $index">{{msg}}</div>
    <div class="anim-toaster anim-toaster-success ui-anim-fade" ng-repeat="msg in service.successQueue track by $index">{{msg}}</div>
    <div class="anim-toaster anim-toaster-warning ui-anim-fade" ng-repeat="msg in service.warningQueue track by $index">{{msg}}</div>
    <div class="anim-toaster anim-toaster-error ui-anim-fade" ng-repeat="msg in service.errorQueue track by $index">{{msg}}</div>
</div>
